<nav role="navigation">
  <ul>
    <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>&#x9996;&#x9875;</a></li>
    <li><a href="/tags" {% if page.url == "/tags" %}class="active"{% endif %}>&#x6807;&#x7B7E;</a></li>
    <li><a href="/about" {% if page.url == "/about" %}class="active"{% endif %}>&#x5173;&#x4E8E;</a></li>
    <li><a href="/projects" {% if page.url == "/projects" %}class="active"{% endif %}>&#x9879;&#x76EE;</a></li>
    <li><a href="/atom.xml">RSS</a></li>
  </ul>
</nav>
